// Variables



//Mixins


/* Media Queries for Screen Size */

@media only screen and (max-width: 1068px) {
  .mini-card {
    max-width: 50%;
  }
}

@media only screen and (max-width: 734px) {
  .mini-card {
    min-width: 90%;
  }

  nav,
  main {
    flex-wrap: wrap;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .mini-card {
    min-width: 90%;
  }

  nav,
  main {
    flex-wrap: wrap;
  }

  .average-display {
    display: flex;
  }
}
