/* Overall Display */

*{
  font-family: 'Montserrat', sans-serif;
}

body, html {
  background-repeat: no-repeat;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

nav {
  display: flex;
  justify-content: space-around;
}

h1 {
  margin: 2%;
  color: #A1A1A6;
  font-size: 3em;
}

h2 {
  margin: 0;
  font-size: 2em;
  text-shadow: 2px 1px 4px #111111;
}

h3 {
  margin: 2% 0;
  font-size: 1.5em;
  text-transform: capitalize;
  text-shadow: 2px 1px 4px #111111;
}

h4 {
  margin: 2% 0;
  font-size: 1.5em;
}

h5 {
  margin: 0 0 2% 3%;
  font-weight: 500;
  font-size: 1.2em;
}

li {
  margin-top: 5%;
  font-size: 1.2em;
}

.theme-dark {
  background-color: #0a0a0a;
  color: #ececec;
}

.hidden {
  display: none;
}

.banner {
  margin: 2% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-goals,
.banner-totals {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1em;
  justify-items: center;
}

.summary {
  display: flex;
  flex-direction: column;
  background-color: #151516;
}

/* Cards Display */

.steps,
.water,
.sleep,
.activity {
  white-space: nowrap;
}

/* .average-widgets, */
.average-widgets {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 4% 0;
  grid-gap: 1em;
}

.user-info {
  font-weight: bolder;
}

.mini-card,
.large-card {
  border-radius: 1em;
  padding: 3%;
  margin: 2%;
  overflow-wrap: break-word;
  box-shadow: 7px 3px 8px 0px #7c7c7c;
}

.mini-card {
  width: 50%;
}

.large-card {
  width: 90%;
  background: linear-gradient(44deg, #d83c48, #5622c7);
}

.two-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-profile {
  background: linear-gradient(226deg, #d83c48, #673dc2);
}

.average-display {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1em;
}

.averages {
  margin: 4%;
  font-size: 1.2em;
}

.plus-icon .white-plus {
  height: 40px;
}

.plus-icon .color-plus {
  display: none;
  height: 40px;
}

.plus-icon:hover .color-plus {
  display: inline;
}

.plus-icon:hover .white-plus {
  display: none;
}

/* INPUTS */
label {
  display: block;
}

input,
label {
  margin: 1%;
  font-size: 1.2em;
}

.date-selector {
  text-align: center;
}

button {
  cursor: pointer;
  background-color: transparent;
  color: #f2f2f2;
  border: 1px solid #f2f2f2;
  padding: 1% 5%;
  font-size: 1.2em;
  border-radius: 100px;
}

button:hover {
  background: linear-gradient(318deg, #d83c48, #5622c7);
  border: none;
}

/* Media Queries for Screen Size */

@media only screen and (max-width: 1068px) {
  .mini-card {
    max-width: 50%;
  }
}

@media only screen and (max-width: 734px) {
  .mini-card {
    min-width: 90%;
  }

  nav,
  main {
    flex-wrap: wrap;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .mini-card {
    min-width: 90%;
  }

  nav,
  main {
    flex-wrap: wrap;
  }

  .average-display {
    display: flex;
  }
}
