body, html {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-repeat: no-repeat;
  height: 100%;
}

header {

}

.summary {

}

main {

}

.steps,
.water,
.sleep,
.activity {

}

.widgets {

}

footer {

}

h1 {

}

h2 {

}

h3 {
  
}
